<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local Weather Tracker</title>
</head>
<body>

    <div style="text-align: center;">
    <img src="https://media.istockphoto.com/id/1066588820/photo/lavender-field-at-sunset-provence-amazing-landscape-with-fiery-sky-france.jpg?s=612x612&w=0&k=20&c=7WjuB6ODzfUxrpWTL1mS2vTmsFCtMdbE2H9X4QA-XkI="
         style="display: block; margin: 0 auto; width: 800px;">
    <h1
        style="font-size: 45px; font-weight: bold; margin-top: 40px;">
        Welcome to Local Weather Tracker!
    </h1>
</div>

    

</body>
</html>
